/* orcidbib.css - styles for ORCID bibliography */
li {
   margin-bottom: 0.5em;
}

.hangindent {
  text-indent: -2em;
  margin-left: 2em;
}

#orcidbib {
  background: #DFD;
}

div.csl-left-margin {
  width:2em;
  float:left;
}

div.csl-right-inline {
  display: inline;
  text-indent: -2em;
  margin-left: 2em;
}

div.misc {
  color: #A00;
}
