/* orcidbib.css - styles for ORCID bibliography */
li {
   margin-bottom: 0.5em;
}

.hangindent {
  text-indent: -2em;
  margin-left: 2em;
}

#orcidbib {
  background: #EEE;
}

div.csl-left-margin {
  width:2em;
  float:left;
}